body {
  width: 920px;
  min-height: 100%;
  /*margin: 0 auto;*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
}

.container {
  min-height: 20px;
  background: gray;
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*flex-flow: wrap;*/
}

h2, h4 {
  margin: 30px auto;
}

img {
  float: left;
  /*margin: 20px;*/
}

button {
  /*float: left;*/
  display: flex;
  /*clear: both;*/
}

hr {
  clear: both;
}